body, html {
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  color: #ffffff;
  min-width: 100%;
}

.navbar {
  background-color: #333; /* Change background color as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1vw 1vh; /* Adjust padding as needed */
  text-decoration: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.navbar a:hover {
  background-color: #ddd; /* Change background color on hover */
  color: black;
}

.navbar a.dividir {
  float: none;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .navbar a {
    padding: 10px 5px; /* Adjust padding for smaller screens */
  }
}



.primeiraImagem, .segundaImagem, .terceiraImagem, .quartaImagem {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.primeiraImagem {
  background-image: url('../img/artigo_gestão_escolar_3.jpg');
  min-height: 100vh;
}

.segundaImagem {
  background-image: url('../img/artigo_gestão_escolar_2.jpg');
  min-height: 100vh;
}

.terceiraImagem {
  background-image: url('../img/Ambiente-Escolar-1920x1024.jpg');
  min-height: 100vh;
}

.quartaImagem {
  background-image: url('../img/gestão-escolar.jpg.png');
  min-height: 100vh;
}

.secao {
  padding: 20px;
  display: inline-block;
  background-color: #51414F;
}

.secaoClara {
  background-color: #51414F;
  color: #ddd;
}

.secaoEscura {
  background-color: #51414F;
  color: #ddd;
}

.texto, .texto3 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 4vw;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 15px;
}

.texto2 {
  position: relative;
  top: 40vw;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2.5vw;
  letter-spacing: 1px;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #fff;
  border-radius: 15px;
}

.rotulo {
  background-color: #111;
  color: #fff;
  padding: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  min-width: 100%;
}

.rotulo2 {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px;
  font-size: 40px;
  position: relative;
  top: -8.5vw;
  font-size: 3vw;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.rotulo3 {
  background-color: #3e3e3ebb;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 40px;
  position: relative;
  top: -7vw;
  font-size: 3vw;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#irParaTopo {
  background: none;
  float: right;
  border-radius: 10%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#imagemSeta {
  width: 3.5vw;
  height: 3.5vw;
}

@media (max-width: 768px) {
  .navbar a {
    float: none;
    display: block;
  }

  .texto, .texto3 {
    font-size: 6vw;
}

.texto2 {
    font-size: 4vw;
}
}

.txt {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
  border: red solid 1px;
}

.card {
  width: 100%;
  object-fit: fill;
}

.card-body {
  background-color: #f0efef;
}

.card-img-top {
  width: 100%;
  height: 40vw;
  object-fit: fill;
  background-color: #f0efef;
}

.col-sm-6 {
  align-items: center;
}

.centralizar-button {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
}

.texto-simples {
  font-family: sans-serif;
  font-size: 1.85vw;
}

.texto-maior {
  font-family: sans-serif;
  font-size: 2vw;
}

ul {
  list-style: none;
}

ul li::before {
  content: "✓";
}

#qrcode {
  width: 150px;
  height: 160px;
  margin: 20px auto;
  display: block;
}

footer {
  background-color: #51414F;
  color: #ffffff;
  padding: 25px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2px;
}

.logo {
  display: inline-block; /* Ensure the logo stays inline with navbar items */
  margin-right: 20px; /* Adjust margin as needed */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  color: #fff; /* Adjust color as needed */
}

.logo img {
  vertical-align: middle; /* Align the image vertically with text */
  max-height: 10vh; /* Adjust maximum height as needed */
  position: relative; left: 1vw;
}
