body, html {
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  color: #e33d3d;
  min-width: 100%;
}

.navbar {
  background-color: #333; /* Change background color as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1vw 1vh; /* Adjust padding as needed */
  text-decoration: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.navbar a:hover {
  background-color: #ddd; /* Change background color on hover */
  color: black;
}

.navbar a.dividir {
  float: none;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .navbar a {
    padding: 10px 5px; /* Adjust padding for smaller screens */
  }
}

/* Larger screens */
@media (min-width: 992px) {
  body {
    font-size: 32px;
  }
} 

/* Smaller tablets and mobiles */
@media (max-width: 768px) {
  body {
    font-size: 32px;
  }
}



.primeiraImagem, .segundaImagem, .terceiraImagem, .quartaImagem, .imgMetodoSimples, .imgMSEP {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.primeiraImagem {
  background-image: url('../img/Masternote.png');
  min-height: 100vh;
}

.segundaImagem {
  background-image: url('../img/beneficios.png');
  min-height: 100vh;
}

.imgMetodoSimples {
  background-image: url('../img/metodoSimples.png');
  min-height: 100vh;
}

.terceiraImagem {
  background-image: url('../img/1920x1080.png');
  min-height: 80vh;
}

.quartaImagem {
  background-image: url('../img/pexels-george-milton-7014337.jpg');
  min-height: 100vh;
}

.imgMSEP {
  background-image: url('../img/gestão-escolar.jpg.png');
  min-height: 100vh;
}

.secaoFinal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center align text horizontally */
}

.secao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secaoClara {
  background-color: #d81515;
  color: #e71515;
}

.secaoProf {
 background-image: -moz-linear-gradient(red,black);/* Assuming the section background is white */
}

.secaoEscura {
  background-color: #51414F;
  color: #ddd;
  padding: 20px;
}

.secaoEscura2 {
  background-color: #0000b389;
  color: #ddd;
  padding: 20px;
}


.texto, .texto3 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 4vw;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 15px;
}

.texto2 {
  position: relative;
  top: 40vw;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 2.5vw;
  letter-spacing: 1px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #fff;
  border-radius: 15px;
}

.masterTXT {
  position: absolute;
  top:50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 4vw;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 15px;
  top: 16vw;
}

.masterRotulo {
  background-color: #111;
  color: #fff;
  padding: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  min-width: 100%;
}

.rotulo {
  background-color: #111;
  color: #cf0f0f;
  padding: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  min-width: 100%;
  top: -15vw;
}

.rotulo2 {
  color: rgb(0, 0, 0);
  padding: 5px;
  position: relative;
  top: -15vw;
  font-size: 3.6vw;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.rotulo3 {
  background-color: #3e3e3ebb;
  color: rgb(255, 255, 255);
  padding: 5px;
  position: relative;
  top: -7vw;
  font-size: 3vw;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  
}

#irParaTopo {
  background: none;
  float: right;
  border-radius: 10%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.undertitle{
  position: relative;
  top: -14vw;
}

#imagemSeta {
  width: 3.5vw;
  height: 3.5vw;
}

@media (max-width: 768px) {
  .navbar a {
    float: none;
    display: block;
  }

  .texto, .texto3 {
    font-size: 6vw;
}

.texto2 {
    font-size: 4vw;
}
}

.txt {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
  min-width: 50%;
  border: red solid 1px;
}

.card {
  width: 100%;
  object-fit: fill;
}

.card-body {
  padding-top: 50vh;
  background-color: #f0efef;
  min-width: 80vw;
  min-height: 1vh;
}

.card-img-top {
  width: 100%;
  height: 40vw;
  object-fit: fill;
  background-color: #f0efef;
}

.col-sm-6 {
  align-items: center;
}

.centralizar-button {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
}

.texto-simples {
  font-family: sans-serif;
  font-size: 1.85vw;
}

.texto-maior {
  font-family: sans-serif;
  font-size: 2vw;
}

ul {
  list-style: none;
}

ul li::before {
  content: "✓";
}

#qrcode {
  width: 250px;
  height: 250px;
  margin: 20px;
  position: relative;
  display: inline-flex;
}

footer {
  background-color: #51414F;
  color: #ffffff;
  padding: 25px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2px;
}

.logo {
  display: inline-block; /* Ensure the logo stays inline with navbar items */
  margin-right: 20px; /* Adjust margin as needed */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  color: #fff; /* Adjust color as needed */
}

.logo img {
  vertical-align: middle; /* Align the image vertically with text */
  max-height: 10vh; /* Adjust maximum height as needed */
  position: relative; left: 1vw;
}

.theBack{
  position: relative;
  top: -1vw;
  padding-bottom: 1;
  padding-left: 5vh;
  padding-right: 5vh;
  background-color: #FAFAFA;
}
